################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/surround360_render/scripts/.idea
