################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/surround360_render/scripts/.idea
/surround360_render/out
/surround360_render/bin
/surround360_render/.vs
